{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ city.fldName }} - {{ city.fldAbbreviation }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <b>LAT: </b>       {{ city.fldLat }}</li>
        <li class="list-group-item"> <b>LONG:</b>       {{ city.fldLong }}</li>
        <li class="list-group-item"> <b>Capital:</b>    {{ city.fldCapitalStatus }}</li>
        <li class="list-group-item"> <b>Country:</b>    {{ city.fldCountry }}</li>
        <li class="list-group-item"> <b>Population:</b> {{ city.fldPopulation }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{city.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{city.id}}" method="post"><button type="submit" class="btn btn-danger">DELETE</button></form>


{% endblock %}
